################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/.vs
/src/.vs/kasirv1
/src/bin/Debug
/src/packages
